<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="1; URL=/">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/svg+xml" href="/images/icon.svg" sizes="any" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
