{{> header}}
<div class="empty">
    <div class="empty-icon">
        <i class="icon icon-check"></i>
    </div>
    <p class="empty-title h5">{{i18n.logoutSuccess}}</p>
    <div class="empty-action">
        <a href="/login" class="btn btn-primary">{{i18n.backToLogin}}</a>
    </div>
</div>
