{{> header showLogout=true i18n=i18n}}
<div class="container grid-xl">
  <div class="columns">
    {{#each users}}
    <div class="column col-sm-12 col-lg-6 col-4">
        {{#if EDITABLE}}
            {{> todolistEditable i18n=i18n user=this}}
        {{else}}
            {{> todolist i18n=i18n user=this}}
        {{/if}}
    </div>
    {{/each}}
  </div>
</div>